form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.msg{
    display: flex;
    justify-content: center;
}
.msg input{   
    width: 90%;
    color: black;
    font-size: 1rem;
}

.msg .succes{
   border-color: green;
}

.msg .danger{
    border-color: red;
}


